
@{
    ViewBag.Title = "ErrorCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center;margin-top:10px;"> <h2 style="font-weight:500;font-size:50px">Please login to view cart</h2></div>
<div style="margin-bottom:54px;" class="d-flex justify-content-center">
    <img style="width:500px;" src="~/Content/Image/errorcart.png" />
</div>

