
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about section-bg bg-light">
    <div class="container pt-4 pb-5" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>
                We are an agent specializing in distributing shoes from Vietnam and we distribute shoes of major brands in Asia.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="~/Content/Image/Background/about.jpg" style="height: 650px; width: 100%" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                 data-aos-delay="100">
                <h3>Who are we?</h3>
                <p class="fst-italic">
                    TANA is the first choice for discerning shoe enthusiasts. TANA's mission is to empower young people around the world to freely express their style through fashion, the brand transcends the boundaries of street fashion by constantly innovating with its collections unique.
                </p>
                <ul>
                    <li>
                        <i class="fa-solid fa-business-time"></i>
                        <div>
                            <h5>The history of the formation of TANA.</h5>
                            <p>TANA was established in 2023 with 4 members of Ho Chi Minh City University of Technology (HUTECH)</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-solid fa-store"></i>
                        <div>
                            <h5>TANA's store branches?</h5>
                            <p>Currently, TANA has more than 200 branches and stores around the world and the head office is located at Ho Chi Minh City University of Technology (HUTECH)</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- End About Section -->
