
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/Image/Background/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Image/Background/2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Image/Background/3.png" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Image/Background/4.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- End Slider -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Introduce</h2>
            <h3>Policies at <span>TANA</span></h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fa-solid fa-arrows-rotate"></i></div>
                    <h4 class="title"><a href="">Return Policy</a></h4>
                    <p class="description">Exchange time within 7 days from the date the customer receives the product</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                    <h4 class="title"><a href="">Warranty Policy</a></h4>
                    <p class="description">All TANA products will be warranted for free within 3 months</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                    <h4 class="title"><a href="">Transportation Policy</a></h4>
                    <p class="description">All TANA orders will receive free shipping. Delivery time 3-5 days</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="fa-solid fa-users"></i></div>
                    <h4 class="title"><a href="">Membership Policy</a></h4>
                    <p class="description">
                        12% discount on an order in the birthday month, orders up to $ 100 (not applicable in conjunction with other discounts).
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Featured Services Section -->
<section id="about" class="about section-bg bg-light">
    <div class="container pt-4 pb-5" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>
                We are an agent specializing in distributing shoes from Vietnam and we distribute shoes of major brands in Asia.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="~/Content/Image/Background/about.jpg" style="height: 650px; width: 100%" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                 data-aos-delay="100">
                <h3>Who are we?</h3>
                <p class="fst-italic">
                    TANA is the first choice for discerning shoe enthusiasts. TANA's mission is to empower young people around the world to freely express their style through fashion, the brand transcends the boundaries of street fashion by constantly innovating with its collections unique.
                </p>
                <ul>
                    <li>
                        <i class="fa-solid fa-business-time"></i>
                        <div>
                            <h5>The history of the formation of TANA.</h5>
                            <p>TANA was established in 2023 with 4 members of Ho Chi Minh City University of Technology (HUTECH)</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-solid fa-store"></i>
                        <div>
                            <h5>TANA's store branches?</h5>
                            <p>Currently, TANA has more than 200 branches and stores around the world and the head office is located at Ho Chi Minh City University of Technology (HUTECH)</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- End About Section -->

<section class="pt-5">
    <div class="container " data-aos="zoom-in">
        <div class="section-title">
            <h2>Brand</h2>
            <h3>Brands collaborating with <span>TANA</span></h3>

        </div>
    </div>
    <div id="clients" class="clients bg-light">
        <div class="row ">

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Bitis"><img src="~/Content/Image/Background/1-DrMR2bKc5NsKhOkGKqofOw.png" class="img-fluid" alt=""></a> 
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Jodan"><img src="~/Content/Image/Background/0139937c2f641ab61fd020844ccfd459.png" class="img-fluid" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Nike"><img src="~/Content/Image/Background/34c357ee31431b6cd13fe1ebe1d47980.png" class="img-fluid" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Adidas"> <img src="~/Content/Image/Background/4f2f9790bc2d20eabbf50ec30df861fc.png" class="img-fluid" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Converse"><img src="~/Content/Image/Background/a509ce51391852498f89d9d5df633cbd.png" class="img-fluid" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="/Product/Vans"><img src="~/Content/Image/Background/a9fa3789bd9283a662ddee811f62b2c3.png" class="img-fluid" alt=""></a>
            </div>

        </div>

    </div><!-- End Clients Section -->
</section><!-- End Brand -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>F.A.Q</h2>
            <h3>Frequently Asked <span>Questions</span></h3>
            <p>
                Answers to our most frequently asked questions are just one click away.
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <ul class="faq-list">

                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                            What are Tana shipping options? <i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Tana Members get free standard shipping (and discounted expedited shipping) on every order-just sign in during checkout and you’ll automatically get free shipping. <br />
                                Your order will be shipped to you within 3-5 business days.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                            What is Tana return policy? <i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                All Tana purchases have an extended 60-day return policy (some exceptions apply).<br />

                                All purchases made on Tana.com, in any of the Tana apps, or at a Tana store have a 60-day return period. Go ahead and test out your Tana or Converse purchase to make sure it works for you.<br />

                                You can return items (some exceptions apply) for any reason within those 60 days. That includes custom Tana By You sneakers. Even after 60 days, you can still return items if they’re unworn and unwashed. And remember, returns are always free for Tana Members.<br />

                                So go ahead, shop with confidence, and enjoy your 60-day trial.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                            Do Tana shoes have a warranty? <i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                We stand behind all of our shoes and gear. If your Tana shoes or apparel develop a material or workmanship flaw within two years of the manufacture date, we want to get you back in the game. <br />

                                If you believe your item is flawed, and it’s within 60 days of your purchase, you can simply return it to us for a full refund. For Tana.com and Tana App purchases, please see our return instructions (and if you want to try to exchange the item, you’ll need to give us a call). For Tana store purchases, you’ll want to take your item back to a Tana store.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                            What is Tana Membership? <i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <b>Tana Membership</b> gives you access to inspiration, community, and exclusive Tana products. It’s the best way to access everything Nike and it’s free, fast, and easy to join. You can join online or when you download any of the Tana apps. And you’ll enjoy immediate benefits:<br />

                                <b>Free shipping (and returns).</b> Just sign in when you shop and you’ll automatically get free standard shipping and free shipping for returns.<br />
                                <b>Member Shop.</b> A unique collection of Tana shoes and gear that is only available to Tana Members.<br />
                                <b>Deals.</b> Special offers and promos to thank our Members and to celebrate big moments, like birthdays.<br />

                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
                            How do i find the right size and fit? <i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                When it comes to performance, fit matters. We’ll help you find the right shoes and gear in the right size so you can perform your best.

                                Not sure what Nike or Converse size you wear? Our size charts can help you determine the best fit for all of our shoes, clothing, and gear. You can navigate to our size charts below, including size charts for men, women, kids, unisex items, and accessories. You can also find links to the appropriate size chart on all of our product pages.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
                            Can i cancel or change my Tana order?<i style="margin-top: 7px;" class="fa-solid fa-chevron-down icon-show"></i><i style="margin-top: 7px;" class="fa-solid fa-chevron-right icon-close"></i>
                        </div>
                        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                You can't make changes, but you can cancel an order within 30 minutes of placing it.<br />

                                To cancel an order, first go to your orders page. If you’re not signed in, you’ll need to enter your order number from your order confirmation email, along with your email address. Next, open the order you want to cancel, then tap or click the “Cancel” button and follow the prompts.<br />

                                If you don’t see the cancel button, your order is no longer eligible to be canceled. But don’t worry—you can return the items for any reason within 60 days.<br />
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section><!-- End Frequently Asked Questions Section -->
<section id="contact" class="contact bg-light pt-4 pb-4">
    <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
            <h2><span>Contact Us</span></h2>
            <p>
                Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                a matter of hours to help you.
            </p>
        </div>

        <div class="row text-xl-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="fa-solid fa-location-dot"></i>
                    <h3>Our Address</h3>
                    <p>Ho Chi Minh City University of Technology (HUTECH)</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa-solid fa-envelope"></i>
                    <h3>Email Us</h3>
                    <p>Tana@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa-solid fa-phone"></i>
                    <h3>Call Us</h3>
                    <p>+123456789</p>
                </div>
            </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15673.710568264787!2d106.785373!3d10.8550427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c3debb5aad%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1679068018936!5m2!1svi!2s" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center pe-auto"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
