@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="text-align:center;margin-top:10px;"> <h2 style="font-weight:700;font-size:50px">VUI LÒNG ĐĂNG NHẬP ĐỂ XEM GIỎ HÀNG !</h2></div>
<div style="margin-bottom:20px;" class="d-flex justify-content-center">
    <img style="width:500px;" src="https://media.istockphoto.com/vectors/empty-shopping-bag-icon-online-business-vector-icon-template-vector-id861576608?k=20&m=861576608&s=612x612&w=0&h=UgHaPYlYrsPTO6BKKTzizGQqFgqEnn7eYK9EOA16uDs=" />

</div>