@using Website_EcommerceShoe_ASPNETMVC.Models.EF
@{
    List<Product> relateProduct = ViewBag.ProductCartegory;
}
@if (relateProduct != null)
{
    foreach (Product item in relateProduct)
    {
        <div class="card product-item  border border-dark">
            <a href="/Product/Detail/@item.idProduct">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent p-0">
                    <img class="img-fluid w-100" style="height: 400px" src="~/Content/Image/Product/@item.UrlImgCover" alt="">
                </div>
                <div class="card-body text-dark border-top border-dark text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@item.nameProduct</h6>
                    <div class="d-flex justify-content-center">
                        @if (item.idPSale == null)
                        {
                            <h6>$@String.Format("{0:0}", item.priceProduct)</h6>
                        }
                        else
                        {
                            <h6>$@String.Format("{0:0}", ViewData[item.nameProduct])</h6>
                            <h6 class="text-muted ml-2"><del>$@String.Format("{0:0}", item.priceProduct)</del></h6>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
}
