@using Website_EcommerceShoe_ASPNETMVC.Models.EF;
@{
    List<Sizes> size = ViewBag.SizeProduct;
}
<select class="form-select btn border border-dark" id="form-select" aria-label="Default select example">
    <option selected>Select Size</option>
    @if (size != null)
    {
        foreach (Sizes item in size)
        {
            if (item.quantitySize > 0)
            {
                <option value="@item.nameSize">@item.nameSize</option>
            }
        }
    }
</select>





